# Backend API URL
# example: http://192.168.17.234:8000/api
# VITE_API_URL=${VITE_API_URL}     //for locally run in my machine
VITE_API_URL=https://email-subscription-management.onrender.com/api   # for production and live 
